<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<appSettings>

	</appSettings>
	<connectionStrings>
		<add name="cn" connectionString="Server=DESKTOP-APVP;Database=epotecario;UID=sa;PWD=123456;" />
	</connectionStrings>
	<system.web>
		<pages validateRequest="false" enableSessionState="true" enableEventValidation="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="Static" />
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.8" />
		<trace enabled="true" requestLimit="80" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<customErrors mode="RemoteOnly" />
		<authentication mode="Windows" />
		<identity impersonate="true" />
		<sessionState mode="InProc" timeout="20" />
		<globalization requestEncoding="UTF-8" responseEncoding="UTF-8" />
		<httpRuntime maxRequestLength="9097151" requestValidationMode="2.0" />
		<xhtmlConformance mode="Legacy" />
	</system.web>
	<log4net threshold="ALL">
		<appender name="ErrorSmtpAppender" type="log4net.Appender.SmtpAppender">
			<to value="ptome@hipotecario.com.ar" />
			<from value="AlertasHipotecarioAdm@hipotecario.com.ar" />
			<subject value="[${COMPUTERNAME}] - Error en sistema Hipotecario Admin" />
			<smtpHost value="mailbhsa" />
			<bufferSize value="0" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline%newline%newline" />
			</layout>
		</appender>
		<appender name="ErrorFileAppender" type="log4net.Appende0r.FileAppender">
			<file value="BH.HipotecarioAdmin.Errores.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.SimpleLayout" />
		</appender>
		<appender name="InfoFileAppender" type="log4net.Appender.FileAppender">
			<file value="BH.HipotecarioAdmin.Info.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date - ${COMPUTERNAME} - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
		</root>
		<logger name="HipotecarioAdmError">
			<level value="ERROR" />
			<!--<appender-ref ref="ErrorFileAppender"/>-->
			<appender-ref ref="ErrorSmtpAppender" />
		</logger>
		<logger name="HipotecarioAdmInfo">
			<level value="INFO" />
			<!--<appender-ref ref="ErrorFileAppender"/>-->
			<appender-ref ref="InfoFileAppender" />
		</logger>
	</log4net>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BH.SysNetId" publicKeyToken="86aaa337f573f970" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BH.SysNet" publicKeyToken="86aaa337f573f970" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BH.Util" publicKeyToken="86aaa337f573f970" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>